<div class="panel panel-default">
    <div class="panel-heading">Carrito de la Felicidad</div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>

                @for (product of productList | async; track product.nombre) {
                <tr>
                    <td>{{product.nombre}}</td>
                    <td>{{product.quantity}}</td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</div>