/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
app-input-integer {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 2%;
    height: 80%;
    margin: 3%;
}

.comprar {
    text-align: left;
    display: flex;
}

input {
    width: 30px;
}

td {
    vertical-align: middle;
}

body {
    background-image: url(../public/assets/pngtree-coffee-background-image_590609.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.navbar{
    background-color: #432110 !important;
}

a{
    color: white !important;
}
.transparent-table {
    background-color: rgba(165, 42, 42, 0.5) !important; /* Marrón con 50% de opacidad */
    margin: 2%;
    color: white!important;
}

.transparent-table th,
.transparent-table td {
    background-color: rgba(165, 42, 42, 0.5) !important; /* Marrón con 50% de opacidad */
    color: white!important;
}