/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
app-input-integer{
    justify-content: center;
    display: flex;
    padding: 2%;
    height: 100%;
    margin: 3%;
}
.comprar{
    text-align: left;
    display: flex;
}
input{
    width: 30px;
}
td{
    vertical-align: middle;
}